FORMAT: 1A
HOST: http://www.google.com

# User APIs

# Group User
User related resources of the **User API**

## Signup [/user/signup]
Create a user.

### Signup a user [POST]
+ Request (application/json)

        {
            name: "tim",
            pass: "123",
            email: "tang.jilong@gmail.com",
            avatar: "",
            deviceToken: "abc123"
        }

+ Response Success (application/json)

        {
            success: true,
            msg: 'Signup sucess!'
        }

+ Response Failure (application/json)

        {
            success: false,
            msg: 'User name must be 0-9,a-z,A-Z',
            name: 'tim',
            email:'tang.jilong@gmail.com'
        }        

+ Response Failure (application/json)

        {
            success: false,
            msg: 'User Name has been used.',
            name: 'tim',
            email:'tang.jilong@gmail.com'
        }        

+ Response Failure (application/json)

        {
            success: false,
            msg: 'Invalid email address.',
            name: 'tim',
            email:'tang.jilong@gmail.com'
        }        


+ Response Failure (application/json)

        {
            success: false,
            msg: 'Incomplete user info.',
            name: 'tim',
            email:'tang.jilong@gmail.com'
        }        

## User login [/user/login]
User login with username/passwod.

### Login [POST]
+ Request (application/json)

        {
            name: "tim",
            pass: "123",
        }

+ Response Success (application/json)

    + Header

            Cookie: hearthstone_srv=d77961ede0dc4c7e7fd5ada36c4b75f2d0017472f95cc772e7611740c52495c61b52ef8029d7b67af84f7f8ad573798077d74a 

    + Body

        { 
            deviceToken: 'abc123',
            avatar: 'http://www.gravatar.com/avatar/b2c120af3dd18a08a76b30089095acfd?size=48',
            email: 'tang.jilong@gmail.com',
            pass: 'd81f9c1be2e08964bf9f24b15f0e4900',
            name: 'MY4tZhE6',
            _id: '528b47249b5d2c1e2c000001',
            __v: 0,
            update_at: '2013-11-19T11:10:28.621Z' 
        }

+ Response Failure (application/json)

        {
            success: false,
            msg: 'Invalid username or password!',
            name: 'tim',
            pass: '123'
        }


+ Response Failure (application/json)

        {
            success: false,
            msg: 'User not exists!',
            name: 'tim',
            pass: '123'
        }


+ Response Failure (application/json)

        {
            success: false,
            msg: 'Bad password!',
            name: 'tim',
            pass: '123'
        }

## Show User Info [/user/info/{name}]
Display user Information.

### Retrieve a User [GET]
+ Parameters
    + name (required, string, `tim`) ... String `name` of the User to perform action with. Has example value.

+ Request (application/json)

    + Header

        Cookie: hearthstone_srv=d77961ede0dc4c7e7fd5ada36c4b75f2d0017472f95cc772e7611740c52495c61b52ef8029d7b67af84f7f8ad573798077d74a 

+ Response 200 (application/json)

    + Body

        { 
            deviceToken: 'abc123',
            avatar: 'http://www.gravatar.com/avatar/b2c120af3dd18a08a76b30089095acfd?size=48',
            email: 'tang.jilong@gmail.com',
            pass: 'd81f9c1be2e08964bf9f24b15f0e4900',
            name: 'MY4tZhE6',
            _id: '528b47249b5d2c1e2c000001',
            __v: 0,
            update_at: '2013-11-19T11:10:28.621Z' 
        }


## Logout User [/user/logout]
User logout

### Logout [GET]
+ Request (application/json)

    + Header

        Cookie: hearthstone_srv=d77961ede0dc4c7e7fd5ada36c4b75f2d0017472f95cc772e7611740c52495c61b52ef8029d7b67af84f7f8ad573798077d74a 

+ Response 200 (application/json)

        {
            success: true,
            msg: 'Logout success!'
        }
